.home2-container {
  position: relative;
  width: 100%;
  // height: calc(100vh - 80px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .display {
    margin-top: 40px;
    align-self: flex-start;

    h1 {
      font-size: 40px;
      font-family: "Merriweather", serif;
    }
  }

  .info_h2 {
    margin-top: 60px;
    display: flex;
    width: 780px;
    justify-content: center;
    
  }


  .images-cont_h2{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;

    .comix-container {
      display: flex;
      gap: 20px;
  
      &.cont1 {
  
        
      }
  
      &.cont2 {
  
        
      }
  
      .comix-item {
        border-radius: 20px;
        transform: translateY(300px);
        /* Początkowa pozycja – przesunięta w dół */
        opacity: 0;
        /* Początkowa przezroczystość */
        transition: transform 0.5s ease-in-out, opacity 0.5s ease;
        /* Animacja transform i opacity */
      }
    }
  }
  

  
}